body {
	background-color: ghostwhite;
}

a {
	text-decoration: none;
}

img {
	box-shadow: 5px 7px 5px #574a4a;
}

.container {
	background-color: #f1f1f1;
}


.bakersfield-college-logo{
	height: 10rem;
}

.project-img{
	max-height: 15rem;
	min-height: 4rem;
	margin: 1rem;
}

.picture-of-myself {
	height: 15rem;
}

.image-group {
	display: flex;  
	flex-wrap: wrap;
}