


body {
	background-color: ghostwhite;
}

a {
	text-decoration: none;
}

.container {
	background-color: #f1f1f1;
}


.bakersfield-college-logo{
	height: 10rem;
}

.project-img{
	height: 10rem;
}

.picture-of-myself {
	height: 15rem;
}
